
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    user-select: none;
}
body{
    background-color: rgb(218, 212, 212);
}

header{
    width: 100%;
    display: flex;
     top: 0;
    align-items: center;
    background-color: aliceblue;
    position: fixed;
    padding: 25px 50px;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
nav li{
    padding: 10px ;
    font-size: 22px;
}
nav li:hover{
    color: orange;
}

a{
    text-decoration: none;
}
 i{
    color: orange;
    font-size: 32px;
    padding: 5px;
}

#logos{
    font-size: 32px;
    padding: 5px;
    margin-left: 7px;
    background-color: rgb(219, 214, 214);
    border-radius: 5px;
    color: black;
}

#logos:hover{
    background-color: orange;
}

.Groflogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.First{
    height: 300px;
    width: 100%;
    background-image: url(vegetable.webp);
    background-size: cover;
    position: relative no-repeat center;
}
.TotalReview{
    position: relative;
    height: 400px;
  
}
.review{
    height: 300px;
    width: 1000px;
    margin-left: 15%;
    border: 1px solid black;
    background-color: white;
}
.review img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 1px solid black;
}
.TotalReview h1{
    font: 60px;
    margin-left: 40%;
}
.content{
    margin-left: 10%;
    margin-top: 5%;
}
.blogs{
    height: 500px;
}
.news input{
    width: 300px;
    height: 40px;
    background-color:transparent;
    border: 2px solid #29d9d5;
    border-radius: 10px;
    padding: 5px;
    
    color: aliceblue;
    margin: 20px 0px;
}
.blogs {
    display: inline-flex;
    background-color: white;
    width: 100%;
    

}
.blogs img{
    width: 100px;
    height: 200px;
}
.blogs div{
    height: 500px;
    width: 350px;
    border: 1px solid black;
    margin-left: 10%;
}
h1{
    font-size: 20px;
}
.big{
    font-size: 50px;
    margin-left: 40%;
    color: orangered;
}







footer{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 70px 20px;
    color: rgb(0, 0, 0);
}
.photo,.contact.news{
    width: 400px;
    padding: 10px 20px;
    font-size: 22px;
    
    color: rgb(17, 17, 17);
}
.photo h3,.contact h3,.news h3{
    padding: 20px;
    
    color: rgb(0, 0, 0);
}
.photo p,.contact p,.news p{
    padding: 10px;
    opacity: .7;
    
    color: rgb(0, 0, 0);
}
.news input{
    width: 300px;
    height: 40px;
    background-color:transparent;
    border: 2px solid #29d9d5;
    border-radius: 10px;
    padding: 5px;
    
    color: rgb(0, 0, 0);
    margin: 20px 0px;
}
.TotalReview h1{
    font-size: 50px;
    color: orangered;
}
.content h1{
    font-size: 40px;
    color: orangered;
}
.content input{
    height: 50px;
    width: 150px;
    font-size: 25px;
}

    
